/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #ffffff;
  background-image: url("img/BG.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.aparece {
  opacity: 1;
}

.nav-link {
  color: #961c1c;
}

.bg {
  background-color: #0a2267;
}

.container {
  width: 100%;
  margin-top: 80px;
}

.apresenta {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}

.apresenta .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing {
  margin-top: 150px;
}

.proj{
  text-align: center;
  margin-bottom: 50px;
}

.contato {
  text-align: center;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 800px) {

  .img {
    width: 200px;
  }
  .featurette-heading {
    font-size: 50px;
  }

  .apresenta {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: row;
  }

  .apresenta .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .proj{
    text-align: center;
    margin-bottom: 50px;
  }

}
